{% extends 'base.html.twig' %}

{% block title %} Blog page {% endblock %}

{% block content %}
    <h1> Show Blogs </h1>
    <h2 style="font-size: 15px"> We have {{ postsAmount }} blogs on our site. </h2>
    <div class="container-fluid justify-content-start">
        <div class="row">
            <div class="col-lg-7">
                <ul class="list-group">
                    {% for blog in blogs %}
                            <li class="list-group-item" style="background-color: aliceblue">
                                {% if blog.img is not null %}
                                    <div class="img">
                                    <img src="{{ asset('uploads/images/' ~ blog.img) }}" class="card-img-top" alt="...">
                                    </div>
                                {% endif %}
                                <a href="{{ path('blog_show', {'blog': blog.id}) }}"> {{ blog.title }} </a>
                                <br>
                                ({{ blog.comments|length }} comments)
                                {% if app.user.isAdmin %}
                                    <a class="btn btn-primary float-end border"
                                       href="{{ path('blog_update', {'blog': blog.id}) }}">
                                        Update </a>
                                    <a class="btn btn-danger float-end border"
                                       href="{{ path('blog_archive', {'blog': blog.id}) }}">
                                        Archive </a>
                                {% endif %}
                            </li>
                    {% endfor %}
                </ul>
                <br>

                <nav>
                    <ul class="pagination">
                        <li class="page-item {% if page == 1 %} disabled {% endif %}">
                            <a class="page-link" href="{{ path('blogs_show_all', {"page": page-1}) }}">Previous</a>
                        </li>

                        {% for index in range(1, pagesCount) %}
                            <li class="page-item {% if index == page %} active {% endif %}">
                                <a class="page-link" href="{{ path('blogs_show_all', {"page": index}) }}">{{ index }}</a>
                            </li>
                        {% endfor %}

                        <li class="page-item {% if page == pagesCount %} disabled {% endif %}">
                            <a class="page-link" href="{{ path('blogs_show_all', {"page": page+1}) }}">Next</a>
                        </li>
                    </ul>
                </nav>

                {% if app.user.isAdmin %}
                    <a class="btn btn-success" href="{{ path('blog_create') }}"> Create New </a>
                    <a class="btn btn-dark float-end" href="{{ path('blogs_show_archived') }}"> Show Archived Blogs </a>
                    <br>
                {% endif %}
                <div class="text-end">
                <a href="{{ path('app_logout') }}"> Log out </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
